@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './colors';
@import './reset';
@import './font';





#app {
    height: 100%;
}

.primary {
    color: $primary;

    &-border {
        border-color: $primary;
    }
}
.primary-pale {
    color: $primary-pale;
}
.very-dark-blue {
    color: $very-dark-blue;
}
.dark-grayish-blue {
    color: $dark-grayish-blue
}
.grayish-blue {
    color: $grayish-blue;
}
.bg-primary {
    background-color: $primary;
}
.bg-primary-pale {
    background-color: $primary-pale;
}
.bg-grayish-blue {
    background-color: $grayish-blue;
}
.bg-grayish-blue:hover {
    background-color: $grayish-blue;
}
.bg-light-grayish-blue {
    background-color: $light-grayish-blue;
}
.svg-filter {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(152%) contrast(120%);
}
.glow:hover {
    box-shadow: 0px 16px 30px 0px $primary-glow;
}

button.flux-button.play {
    display: none;
}
button.flux-button {
    &.pause circle,
    &.prev circle,
    &.next circle {
        fill: #ffffff;
    }

    &.pause >svg>svg>line,
    &.prev svg > svg > polyline,
    &.next svg > svg > polyline {
        stroke: #000000;
    }
}
